.product-card-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.product-card-inner {
  position: relative;
  background-color: rgb(241, 241, 241);
  width: 350px;
  height: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: 0.3s;
}

.product-card-inner:hover {
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  display: grid;
  place-items: center;
}

.product-image img {
  width: 17vw;
  height: 32vh;
  object-fit: cover;
}

.namePrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.namePrice h3 {
  font-size: 1.3em;
  text-transform: capitalize;
  color: black;
}

.namePrice span {
  font-size: 1.5em;
  color: red;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
  color: #555;
}

.stars {
  font-size: 1.3em;
  color: #f8e825;
  margin: 10px 0;
}

.buy-button {
  position: relative;
  margin-top: auto;
  text-align: right;
}

.buy-button button {
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: #3f3f3f;
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}

.buy-button button:hover {
  transform: scale(1.1);
  background-color: pink;
  color: #f8e825;
}

.namePrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.price-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.price-section .original-price {
  font-size: 1.2em;
  color: gray;
  text-decoration: line-through;
}

.price-section .discounted-price {
  font-size: 1.5em;
  color: red;
  font-weight: bold;
}

.price-section .discount-percentage {
  font-size: 1em;
  color: green;
}
