/* General Header Styles */
.head {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 10px;
}

.image1 {
  width: 27vh;
  height: 10vh;
}
.image2 {
  width: 30vh;
  height: 12vh;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.image3, .menu-icon {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.image3:hover, .menu-icon:hover {
  transform: scale(1.1);
}

.heads {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

/* Desktop Nav */
.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 1.2rem;
  background-color: black;
  color: white;
}

.nav p {
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav p:hover {
  transform: scale(1.1);
  color: #007bff;
}

/* Mobile Menu */
.menu-icon {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: black;
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  z-index: 1000;
}

.menu-items p {
  margin: 10px 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .image1 {
    width: 23vh;
    height: auto;
  }
  .image2 {
    width: 16vh;
    height: auto;
  }
  .image3 {
    height: 6vh;
  }
  .nav {
    gap: 2rem;
    padding: 1.3rem 1.2rem;
  }
  
  .nav p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {

  .image1 {
    width: 20vh;
    height: auto;
  }
  .image2 {
    width: 15vh;
    height: auto;
  }
  .image3 {
    height: 5vh;
  }
  .nav {
    gap: 1rem;
    padding: 1rem 1rem;
  }
  
  .nav p {
    font-size: 0.8rem;
  }
}

@media (max-width: 430px) {

  .image1 {
    width: 14vh;
    height: 6vh;
  }
  .image2 {
    width: 11vh;
    height: 8vh;
  }
  .image3 {
    height: 3vh;
  }
  .heads {
    gap: 0.4rem;
  }

  .cart-icon {
    display: none;
  }
  .nav {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}


@media (max-width: 360px) {
  .image1 {
    width: 15vh;
    height: 6vh;
  }
  .image2 {
    width: 10vh;
    height: 8vh;
  }
  .image3 {
    height: 4vh;
  }
}