.home-image{
  width: 100%;
  background: linear-gradient(120deg, #1e1e2f, #2a2a3d);
}

.home-container {
  width: 100%;
  padding: 20px;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers all child elements horizontally */
}

.home-header {
  display: flex;
  justify-content: center; /* Centers the logo horizontally */
  align-items: center;
  margin-bottom: 20px;
}

.thapar-logo {
  width: 200px;
  height: auto;
}

.bestsellers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adds space between cards */
  justify-content: center; /* Centers all cards within the container */
  align-items: center; /* Centers cards vertically in case of varying heights */
  width: 100%;
}

.bestseller-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers card content */
  text-align: center; /* Centers text inside the card */
}