.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  
  .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }
  
  /* .address-fields-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
  .address-fields {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .address-fields:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  } */
  
  .cross-button {
    text-align: right;
  }
  
  .address-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  button {
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  